<div class="row">
    <div class="offset-1 col-md-5">
        <div class="card">
            <div class="card-header">Input number</div>
            <div class="card-body">
                <input class="col-md-2" type="number" (keyup)="textChange$.next($event.target.value)">
            </div>
            <div class="card-footer">
                <label *ngIf="result == ''">...</label>
                <label *ngIf="result != ''">{{result}}</label>
            </div>
        </div>
    </div>
</div>
